WebApplicationFront1/Web References/WebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerNewUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllUser">
        <s:complexType />
      </s:element>
      <s:element name="getAllUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSupplementList">
        <s:complexType />
      </s:element>
      <s:element name="getSupplementListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSupplementListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNewSupplement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createNewSupplementResponse">
        <s:complexType />
      </s:element>
      <s:element name="updateSupplement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplementId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateSupplementResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteSupplement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplementId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteSupplementResponse">
        <s:complexType />
      </s:element>
      <s:element name="getCartList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCartListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCartListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="supplementId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addNewCartResponse">
        <s:complexType />
      </s:element>
      <s:element name="clearCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clearCartResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="registerNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:registerNewUser" />
  </wsdl:message>
  <wsdl:message name="registerNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:registerNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="getUserSoapIn">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="getUserSoapOut">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="getAllUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllUser" />
  </wsdl:message>
  <wsdl:message name="getAllUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementListSoapIn">
    <wsdl:part name="parameters" element="tns:getSupplementList" />
  </wsdl:message>
  <wsdl:message name="getSupplementListSoapOut">
    <wsdl:part name="parameters" element="tns:getSupplementListResponse" />
  </wsdl:message>
  <wsdl:message name="createNewSupplementSoapIn">
    <wsdl:part name="parameters" element="tns:createNewSupplement" />
  </wsdl:message>
  <wsdl:message name="createNewSupplementSoapOut">
    <wsdl:part name="parameters" element="tns:createNewSupplementResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementSoapIn">
    <wsdl:part name="parameters" element="tns:updateSupplement" />
  </wsdl:message>
  <wsdl:message name="updateSupplementSoapOut">
    <wsdl:part name="parameters" element="tns:updateSupplementResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementSoapIn">
    <wsdl:part name="parameters" element="tns:deleteSupplement" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementSoapOut">
    <wsdl:part name="parameters" element="tns:deleteSupplementResponse" />
  </wsdl:message>
  <wsdl:message name="getCartListSoapIn">
    <wsdl:part name="parameters" element="tns:getCartList" />
  </wsdl:message>
  <wsdl:message name="getCartListSoapOut">
    <wsdl:part name="parameters" element="tns:getCartListResponse" />
  </wsdl:message>
  <wsdl:message name="addNewCartSoapIn">
    <wsdl:part name="parameters" element="tns:addNewCart" />
  </wsdl:message>
  <wsdl:message name="addNewCartSoapOut">
    <wsdl:part name="parameters" element="tns:addNewCartResponse" />
  </wsdl:message>
  <wsdl:message name="clearCartSoapIn">
    <wsdl:part name="parameters" element="tns:clearCart" />
  </wsdl:message>
  <wsdl:message name="clearCartSoapOut">
    <wsdl:part name="parameters" element="tns:clearCartResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registerNewUser">
      <wsdl:input message="tns:registerNewUserSoapIn" />
      <wsdl:output message="tns:registerNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserSoapIn" />
      <wsdl:output message="tns:getUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <wsdl:input message="tns:getAllUserSoapIn" />
      <wsdl:output message="tns:getAllUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementList">
      <wsdl:input message="tns:getSupplementListSoapIn" />
      <wsdl:output message="tns:getSupplementListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createNewSupplement">
      <wsdl:input message="tns:createNewSupplementSoapIn" />
      <wsdl:output message="tns:createNewSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplement">
      <wsdl:input message="tns:updateSupplementSoapIn" />
      <wsdl:output message="tns:updateSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplement">
      <wsdl:input message="tns:deleteSupplementSoapIn" />
      <wsdl:output message="tns:deleteSupplementSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCartList">
      <wsdl:input message="tns:getCartListSoapIn" />
      <wsdl:output message="tns:getCartListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addNewCart">
      <wsdl:input message="tns:addNewCartSoapIn" />
      <wsdl:output message="tns:addNewCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <wsdl:input message="tns:clearCartSoapIn" />
      <wsdl:output message="tns:clearCartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerNewUser">
      <soap:operation soapAction="http://tempuri.org/registerNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap:operation soapAction="http://tempuri.org/getAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementList">
      <soap:operation soapAction="http://tempuri.org/getSupplementList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewSupplement">
      <soap:operation soapAction="http://tempuri.org/createNewSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplement">
      <soap:operation soapAction="http://tempuri.org/updateSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplement">
      <soap:operation soapAction="http://tempuri.org/deleteSupplement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartList">
      <soap:operation soapAction="http://tempuri.org/getCartList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewCart">
      <soap:operation soapAction="http://tempuri.org/addNewCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <soap:operation soapAction="http://tempuri.org/clearCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registerNewUser">
      <soap12:operation soapAction="http://tempuri.org/registerNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap12:operation soapAction="http://tempuri.org/getUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUser">
      <soap12:operation soapAction="http://tempuri.org/getAllUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementList">
      <soap12:operation soapAction="http://tempuri.org/getSupplementList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createNewSupplement">
      <soap12:operation soapAction="http://tempuri.org/createNewSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplement">
      <soap12:operation soapAction="http://tempuri.org/updateSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplement">
      <soap12:operation soapAction="http://tempuri.org/deleteSupplement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCartList">
      <soap12:operation soapAction="http://tempuri.org/getCartList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addNewCart">
      <soap12:operation soapAction="http://tempuri.org/addNewCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearCart">
      <soap12:operation soapAction="http://tempuri.org/clearCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44390/Service/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44390/Service/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>